{
  "databases": {
    "default": {
      "host": "localhost",
      "port": 3306,
      "user": "root",
      "password": "",
      "dbname": "test"
    },
    "other_db": {
      "host": "localhost",
      "port": 3306,
      "user": "root",
      "password": "",
      "dbname": "other_database"
    }
  },
  "permission": {
    "allow_query": true,
    "allow_insert": false,
    "allow_update": false,
    "allow_delete": false
  }
} 